/* ----------------------------------
 * Modificateurs de Layouts
 * ----------------------------------
 */
[data-layout*="boxed"] {
  --boxed-max: 96rem; /* 1536px */
}

/* ----------------------------------
 * Base
 * ----------------------------------
 */

body {
  padding: var(--spacing-m);
  background-color: var(--surface);
  color: var(--on-surface);
  font-family: var(--font-base);
  font-size: var(--text-m);
  font-weight: var(--font-weight-regular);
}

/* Titres */

.title-l {
  font-size: var(--text-3xl);
  font-weight: var(--font-weight-semibold);
}

.title-m {
  font-size: var(--text-m);
  font-weight: var(--font-weight-semibold);
}

.title-s {
  font-size: var(--text-s);
  font-weight: var(--font-weight-semibold);
}

table {
  --table-border-color: transparent;
  --table-border-collapse: separate;
  --table-border-spacing: var(--spacing-4);

  & thead th {
    background: none;
  }

  & th,
  & td {
    padding: 0;
  }
}

.controls {
  padding: var(--spacing-s) var(--spacing-4);
}

[id="css-outputs"] {
  margin-block: var(--spacing-m);
}
